# Git will ignore the following files

# Ignore 'node_modules'
node_modules

# Ignore 'wakatime-project'
.wakatime-project

# Ignore the config so that I can test with ease, an empty one will be added to the repo
config